table tr:first-child + tr + tr {
    display: none;
}
body {
    background-color: #323232;
    color: #fff;
    padding: 20px 40px
}
h1 {
    font-size: 29px
}
ul {
    padding: 0
}
li {
    list-style: none
}
tr th {
    text-align: center;
}
tr th:first-child + th {
    text-align: left;
}
tr th:first-child + th + th + th {
    width: 100px;
}
tr td {
    text-align: center;
}
tr td:first-child + td {
    text-align: left;
}
tr td:first-child + td + td + td {
    width: 100px;
    text-align: right;
}
tr td:first-child img,
tr th:first-child img {
    display: none;
}
.sprite_application_xp,
.sprite_application_xp_terminal,
.sprite_box,
.sprite_cd,
.sprite_controller,
.sprite_drive,
.sprite_film,
.sprite_folder,
.sprite_font,
.sprite_image,
.sprite_map,
.sprite_page,
.sprite_page_add,
.sprite_page_attach,
.sprite_page_code,
.sprite_page_copy,
.sprite_page_delete,
.sprite_page_edit,
.sprite_page_error,
.sprite_page_excel,
.sprite_page_find,
.sprite_page_gear,
.sprite_page_go,
.sprite_page_green,
.sprite_page_key,
.sprite_page_lightning,
.sprite_page_link,
.sprite_page_paintbrush,
.sprite_page_paste,
.sprite_page_red,
.sprite_page_refresh,
.sprite_page_save,
.sprite_page_white,
.sprite_page_white_acrobat,
.sprite_page_white_actionscript,
.sprite_page_white_add,
.sprite_page_white_c,
.sprite_page_white_camera,
.sprite_page_white_cd,
.sprite_page_white_code,
.sprite_page_white_code_red,
.sprite_page_white_coldfusion,
.sprite_page_white_compressed,
.sprite_page_white_copy,
.sprite_page_white_csharp,
.sprite_page_white_cup,
.sprite_page_white_database,
.sprite_page_white_delete,
.sprite_page_white_dvd,
.sprite_page_white_edit,
.sprite_page_white_error,
.sprite_page_white_excel,
.sprite_page_white_find,
.sprite_page_white_flash,
.sprite_page_white_freehand,
.sprite_page_white_gear,
.sprite_page_white_get,
.sprite_page_white_go,
.sprite_page_white_h,
.sprite_page_white_horizontal,
.sprite_page_white_key,
.sprite_page_white_lightning,
.sprite_page_white_link,
.sprite_page_white_magnify,
.sprite_page_white_medal,
.sprite_page_white_office,
.sprite_page_white_paint,
.sprite_page_white_paintbrush,
.sprite_page_white_paste,
.sprite_page_white_php,
.sprite_page_white_picture,
.sprite_page_white_powerpoint,
.sprite_page_white_put,
.sprite_page_white_ruby,
.sprite_page_white_stack,
.sprite_page_white_star,
.sprite_page_white_swoosh,
.sprite_page_white_text,
.sprite_page_white_text_width,
.sprite_page_white_tux,
.sprite_page_white_vector,
.sprite_page_white_visualstudio,
.sprite_page_white_width,
.sprite_page_white_word,
.sprite_page_white_world,
.sprite_page_white_wrench,
.sprite_page_white_zip,
.sprite_page_word,
.sprite_page_world {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(https://github.com/misak1/.htaccess-filelist/blob/master/sprite_icon.png?raw=true);
    background-repeat: no-repeat
}
.sprite_application_xp {
    background-position: -20px 0
}
.sprite_application_xp_terminal {
    background-position: -900px 0
}
.sprite_box {
    background-position: -40px 0
}
.sprite_cd {
    background-position: -60px 0
}
.sprite_controller {
    background-position: -80px 0
}
.sprite_drive {
    background-position: -100px 0
}
.sprite_film {
    background-position: -120px 0
}
.sprite_folder {
    background-position: -140px 0
}
.sprite_font {
    background-position: -160px 0
}
.sprite_image {
    background-position: -180px 0
}
.sprite_map {
    background-position: -200px 0
}
.sprite_page {
    background-position: -220px 0
}
.sprite_page_add {
    background-position: -240px 0
}
.sprite_page_attach {
    background-position: -260px 0
}
.sprite_page_code {
    background-position: -280px 0
}
.sprite_page_copy {
    background-position: -300px 0
}
.sprite_page_delete {
    background-position: -320px 0
}
.sprite_page_edit {
    background-position: -340px 0
}
.sprite_page_error {
    background-position: -360px 0
}
.sprite_page_excel {
    background-position: -380px 0
}
.sprite_page_find {
    background-position: -400px 0
}
.sprite_page_gear {
    background-position: -420px 0
}
.sprite_page_go {
    background-position: -440px 0
}
.sprite_page_green {
    background-position: -460px 0
}
.sprite_page_key {
    background-position: -480px 0
}
.sprite_page_lightning {
    background-position: -500px 0
}
.sprite_page_link {
    background-position: -520px 0
}
.sprite_page_paintbrush {
    background-position: -540px 0
}
.sprite_page_paste {
    background-position: -560px 0
}
.sprite_page_red {
    background-position: -580px 0
}
.sprite_page_refresh {
    background-position: -600px 0
}
.sprite_page_save {
    background-position: -620px 0
}
.sprite_page_white {
    background-position: -640px 0
}
.sprite_page_white_acrobat {
    background-position: -660px 0
}
.sprite_page_white_actionscript {
    background-position: -680px 0
}
.sprite_page_white_add {
    background-position: -700px 0
}
.sprite_page_white_c {
    background-position: -720px 0
}
.sprite_page_white_camera {
    background-position: -740px 0
}
.sprite_page_white_cd {
    background-position: -760px 0
}
.sprite_page_white_code {
    background-position: -780px 0
}
.sprite_page_white_code_red {
    background-position: -800px 0
}
.sprite_page_white_coldfusion {
    background-position: -820px 0
}
.sprite_page_white_compressed {
    background-position: -840px 0
}
.sprite_page_white_copy {
    background-position: -860px 0
}
.sprite_page_white_cplusplus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(https://github.com/misak1/.htaccess-filelist/blob/master/sprite_icon.png?raw=true);
    background-repeat: no-repeat;
    background-position: -880px 0
}
.sprite_page_white_csharp {
    background-position: 0 0
}
.sprite_page_white_cup {
    background-position: -920px 0
}
.sprite_page_white_database {
    background-position: -940px 0
}
.sprite_page_white_delete {
    background-position: -960px 0
}
.sprite_page_white_dvd {
    background-position: -980px 0
}
.sprite_page_white_edit {
    background-position: -1000px 0
}
.sprite_page_white_error {
    background-position: -1020px 0
}
.sprite_page_white_excel {
    background-position: -1040px 0
}
.sprite_page_white_find {
    background-position: -1060px 0
}
.sprite_page_white_flash {
    background-position: -1080px 0
}
.sprite_page_white_freehand {
    background-position: -1100px 0
}
.sprite_page_white_gear {
    background-position: -1120px 0
}
.sprite_page_white_get {
    background-position: -1140px 0
}
.sprite_page_white_go {
    background-position: -1160px 0
}
.sprite_page_white_h {
    background-position: -1180px 0
}
.sprite_page_white_horizontal {
    background-position: -1200px 0
}
.sprite_page_white_key {
    background-position: -1220px 0
}
.sprite_page_white_lightning {
    background-position: -1240px 0
}
.sprite_page_white_link {
    background-position: -1260px 0
}
.sprite_page_white_magnify {
    background-position: -1280px 0
}
.sprite_page_white_medal {
    background-position: -1300px 0
}
.sprite_page_white_office {
    background-position: -1320px 0
}
.sprite_page_white_paint {
    background-position: -1340px 0
}
.sprite_page_white_paintbrush {
    background-position: -1360px 0
}
.sprite_page_white_paste {
    background-position: -1380px 0
}
.sprite_page_white_php {
    background-position: -1400px 0
}
.sprite_page_white_picture {
    background-position: -1420px 0
}
.sprite_page_white_powerpoint {
    background-position: -1440px 0
}
.sprite_page_white_put {
    background-position: -1460px 0
}
.sprite_page_white_ruby {
    background-position: -1480px 0
}
.sprite_page_white_stack {
    background-position: -1500px 0
}
.sprite_page_white_star {
    background-position: -1520px 0
}
.sprite_page_white_swoosh {
    background-position: -1540px 0
}
.sprite_page_white_text {
    background-position: -1560px 0
}
.sprite_page_white_text_width {
    background-position: -1580px 0
}
.sprite_page_white_tux {
    background-position: -1600px 0
}
.sprite_page_white_vector {
    background-position: -1620px 0
}
.sprite_page_white_visualstudio {
    background-position: -1640px 0
}
.sprite_page_white_width {
    background-position: -1660px 0
}
.sprite_page_white_word {
    background-position: -1680px 0
}
.sprite_page_white_world {
    background-position: -1700px 0
}
.sprite_page_white_wrench {
    background-position: -1720px 0
}
.sprite_page_white_zip {
    background-position: -1740px 0
}
.sprite_page_word {
    background-position: -1760px 0
}
.sprite_page_world {
    background-position: -1780px 0
}
i {
    margin-right: 5px;
}
